{% extends 'layouts/base.html' %}

{% block title %}Welcome{% endblock %}

{% block header %}
    {% include 'layouts/header.html' %}
{% endblock %}

{% block content %}
    <div class="container mx-auto flex flex-col mb-4">
        <h1 class="text-5xl text-center text-indigo-500">
            Grandpy Bot, raconte nous une histoire !
        </h1>

        <div class="grid grid-cols-3 space-x-8 my-4">
            <div class="text-center text-xl text-indigo-400">
                <p id="think" class="">
                    Grandpy Bot réfléchit...
                </p>
            </div>
            <div class="text-justify px-4 py-2 rounded-lg rounded-bl-none inline-block bg-gray-100 text-indigo-500">
                <p id="answer" class="">
                    Grandpy Bot répond ici !
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'layouts/footer.html' %}
{% endblock %}