<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} &#8212; Grandpy Bot</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compiled.css') }}">
    {% block head %}{% endblock %}
</head>
<body class="bg-white dark:bg-gray-900">
{% block header %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>