<footer class="grid grid-cols-1 sm:grid-cols-3 border-t-2 border-gray-200 p-6">
    <!-- Links -->
    <div class="text-gray-600 dark:text-white">
        <div class="mb-2">
            <span class="text-xl">My links</span>
        </div>
        <ul>
            <li>
                <a class="hover:underline text-md"
                   href="https://github.com/Dylamn">
                    Github
                </a>
            </li>
            <li>
                <a class="hover:underline text-md"
                   href="https://www.linkedin.com/in/dylan-vallee/">
                    LinkedIn
                </a>
            </li>
        </ul>
    </div>
    <div class="flex flex-col justify-end text-center text-gray-600 dark:text-white">
        <!-- Name -->
        <p class="align-middle">
            Made with &#10084; by Dylan Vallée
        </p>
    </div>
    <div class="flex flex-row-reverse justify-start text-gray-600 dark:text-white">
        <div>
            <p>
                An
                <a href="https://openclassrooms.com/" target="_blank">
                    OpenClassrooms
                </a>
                project.
            </p>
        </div>
    </div>
</footer>
