<header class="relative bg-white dark:bg-gray-900 mb-4">
    <div class="max-w-8xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start mr-1">
                <a href="/">
                    <span class="sr-only">Grandpy bot</span>
                    <img class="h-8 w-auto sm:h-10" src="{{ url_for('static', filename='images/robot.png') }}"
                         alt="robot emoji"/>
                </a>
            </div>
            <nav class="md:flex space-x-10">
                <div class="relative">
                    <a href="/" class="text-base font-medium text-gray-500 hover:text-gray-900 mx-2">
                        Welcome
                    </a>
                    <a href="{{ '/about' }}"
                       class="text-base font-medium text-gray-500 hover:text-gray-900 mx-2">
                        About
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>