{% extends 'layouts/base.html' %}

{% block title %}About{% endblock %}

{% block header %}
    {% include 'layouts/header.html' %}
{% endblock %}

{% block content %}
    <div class="container p-4 sm:p-6 mx-auto h-screen-3/4">
        <h1 class="text-2xl mb-3 dark:text-white">Grandpy Bot 👴🤖</h1>
        <p class="text-lg dark:text-white whitespace-pre-line">
            Grandpy Bot is a chatbot assistant written in Python that can find the address of a specific place.
            When he knows the place very well, he often likes to tell a bit of the history of it.
        </p>
        <p class="text-lg dark:text-white whitespace-pre-line">
            Currently, Granpy only supports the French language.
        </p>
        <br>
        <p class="text-lg dark:text-white">
            This project is part of an
            <a class="font-semibold underline visited:text-purple-600"href="https://openclassrooms.com"
               target="_blank">OpenClassrooms</a>
            degree course.
        </p>
    </div>
{% endblock %}

{% block footer %}
    {% include 'layouts/footer.html' %}
{% endblock %}
